*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color:azure;
}

header{
    background-color:azure;
    padding: 1rem 2rem;
    box-shadow: 10px 3px 10px rgba(0, 0, 0, 0.7) ;
    position: fixed;
    width: 100%;
    z-index: 3;
    font-family:'Courier New', Courier, monospace;
}

header div,p{
    text-align: center;
    text-transform: uppercase;
}




.div2{
    width: 50%;
    margin: 10rem;
    position: absolute;
    background-color: white;
    padding: 2rem 4rem;
}

.div2 ul li{
    list-style: none;
    margin:1rem;
    color: black;
}

p{
    color: black;
}

#listcontent li{
    display: flex;
    justify-content: space-between;
    width: 100%;
    cursor: pointer;
    border: 1px solid #000;
    border: none;
    padding: 1rem;
    border-radius: 5px;
    font-size: 1.5rem;
    margin: 7px auto 3px auto;
    box-shadow: 0 4px 6px 1px rgba(64,60,67,.16);

}

input{
    padding: 1rem 2rem;
    border-radius: 5px;
    border: none;
    background-color: rgba(0, 0, 0, 0.1);
    font-size: 1rem;
}
button{
    padding: 1rem 2rem;
    border-radius: 5px;
    font-size: 1rem;
    border: none;
    background-color: rgb(27, 27, 209);
    color: white;
    font-weight: bold;
    cursor: pointer;
}

#listcontent li span{
    background-color:crimson;
    border-radius: 5px;
    padding: 0.50rem;
    font-size: 1rem;
    color: #fff;
   
    
}

#listcontent li input{
    margin: 5px;
    width: 5%;
}