*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color:azure;
}

header{
    background-color:azure;
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    box-shadow: 10px 3px 10px rgba(0, 0, 0, 0.7) ;
    position: fixed;
    width: 100%;
    z-index: 3;
}

header a{
    text-decoration: none;
    color: black;
    transition: all 1s ease-in-out;
    border-radius: 10px;
    
}

.ahover:hover{
    background-color: rgba(124, 39, 204, 0.74);
    color: white;
    padding: 0.5rem 1rem;
}

header ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    font-size: 1.5rem;
}

header ul li{
    font-family:'Courier New', Courier, monospace;
    padding: 1rem;
    font-weight: bolder;
}

header div img{
    width: 50%;
}

.section1{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    padding: 10rem 3rem;
}

.section1 div img{
    width: 100%;

}

.section1 div{
    width: 40%;
}
.section1 p{
    margin: 3rem 0;
    text-align: justify;
    font-size: 1.50rem;
    line-height: 30px;
}

.section1 h1{
    text-align:justify;
    font-size: 3rem;
}

.section1 a{
    background-color:crimson;
    font-size: 2rem;
    padding: 1rem 2rem;
    border-radius: 5px;
    color: white;
    transform: translate(-50%,50%);
    font-weight: 700;
    transition: all 0.6s ease;  
    text-decoration: none;
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.5);
}

.div2{
    margin: 10rem;
    position: absolute;
    background-color: white;
    padding: 2rem 4rem;
}

.div2 ul li{
    list-style: none;
    margin:1rem;
    color: black;
}

p{
    color: black;
}

#listcontent li{
    cursor: pointer;
    border: 1px solid #000;
    padding: 1rem;
    border-radius: 5px;
    font-size: 1.5rem;
    margin: 7px auto 3px auto;

}

input{
    padding: 1rem 2rem;
    border-radius: 5px;
    border: none;
    background-color: rgba(0, 0, 0, 0.1);
    font-size: 1.5rem;
}
button{
    padding: 1rem 2rem;
    border-radius: 5px;
    font-size: 1.5rem;
    border: none;
    background-color: crimson;
    color: white;
    font-weight: bold;
}

#listcontent li span{
    margin-left: 26rem;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 0.50rem;
   
    
}

#listcontent li input{
    margin: 5px;
    
}